/* Header */
.header-container {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 6.4rem;
  background-color: var(--primary-brown);
  color: var(--primary-link);
}
.header-logo img {
  width: 64px;
  transition: width 0.5s ease;
}
.header-container ul {
  display: flex;
}
.header-container li:not(.header-container li:last-of-type) {
 margin-right: 3.2rem;
}
.menu a {
  color: var(--primary-link);
  font-family: 'Montserrat-Bold';
  font-size: 1.5rem;
  transition: color 0.4s;
}
#current-page {
  color: #feba3e;
}
.header-contact {
  display: flex;
  align-items: flex-start;
  font-family: 'Montserrat-Regular';
  line-height: 2.4rem;
  font-size: 1.4rem;
  position: relative;
  right: 4.8rem;
}
.switch-container {
  display: flex;
}
.switch {
  margin-top: 1rem;
  font-weight: 600;
  position: fixed;
  right: 1.6rem;
  cursor: pointer;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  z-index: 100;
}
.languages-container {
  position: absolute;
  top: 4.1rem;
  right: -1.6rem;
  background-color: var(--secondary-white);
  color: var(--primary-black);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.visible {
  transform: scaleY(1);
}
.languages-container > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.8rem 2rem;
  padding-left: 0.5rem;
  padding-right: 3.6rem;
  align-items: center;
}
.lang-container-sr, .lang-container-en {
  position: relative;
  left: 8px
}
.lang-arrow-down {
  font-size: 30px;
  position:relative;
  bottom: -17px;
  left: 2px;
}
.header-contact a:last-of-type {
  font-family: 'Montserrat-Bold';
  color: var(--orange);
  opacity: 0.95;
}
.header-contact a:last-of-type:hover {
  opacity: 1;
}

/* Mobilni */
.header-mobile {
  display: none;
}
.header-mobile-container {
  font-family: 'Oswald-Bold';
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  background-color: var(--primary-black);
  color: var(--primary-link);
}
.bars {
  cursor:pointer;
} 
.navigation-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding-top: 2.4rem;
  z-index: 1;
  overflow-x: hidden;
  transition: width 0.4s;
}
.navigation-mobile li {
  margin-bottom: 1.6rem;
  margin-left: 3.2rem;
}
.navigation-mobile ul {
  opacity: 0;
  transition: opacity 1s;
}
.navigation-mobile a {
  font-family: 'Montserrat-Bold';
  color: var(--primary-link)
}
#pocetna-mobile {
  color: var(--header-contact-hover);
}
.close-button {
  position: absolute;
  color: var(--primary-link);
  right: 1.6rem;
  cursor:pointer;
  opacity: 0.85;
}
.close:hover {
  opacity: 1;
}
.mobilni-novi-kljuc {
 margin-left: 6.4rem;
}

/* Responsive */
@media screen and (max-width: 992px) {
  .header-container {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .switch {
    position: absolute;
  }
}

