/* Hero Section */
.hero-section {
  content-visibility: auto;
  margin-top: 9.64rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 6.4rem;
  background-color: var(--hero-bg);
}
.hero-section h1 {
  margin: 0;
  margin-right: 2.4rem;
  font-family: 'Oswald-Bold';
  font-size: 4.8rem;
  line-height: 6.4rem;
  color: var(--primary-brown);
  position: relative;
  top: -3.2rem;
  max-width: 100%;
}
.bravarska-radnja {
  font-family: 'Oswald-Bold';
  font-size: 2.7rem;
  color: var(--secondary-brown);
  margin-top: 0;
  margin-bottom: 4rem;
}
.circle {
  font-size: 1rem;
}
.hero-content {
  flex: 2 1 65rem;
  margin-right: 2rem;
}
.hero-image {
  flex: 0 1 24rem;
  background-color: var(--primary-brown);
  padding: 2.4rem 4rem;
  border-radius: 0.8rem;
  border: 0.4rem solid var(--primary-link);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.hero-image img {
  max-width: 24rem;
  height: auto;
}
.hero-list {
  font-family: 'Lora-Regular';
  font-size: 1.7rem;
  border-left: 0.4rem solid var(--primary-brown);
  padding: 0.8rem 1.6rem;
  color: var(--primary-brown);
  font-weight: bold;
}
.hero-list li {
  margin-bottom: 1.6rem;
}

/* Responsive */
@media screen and (max-width: 1126px) {
  /* Hero Section */
  .hero-content {
    margin-right: 0;
  }
  .hero-section {
    margin-top: 0;
    justify-content: center;
  }
  .hero-section h1 {
    max-width: 70%;
    margin-right: 0;
  }
  .hero-image {
    margin-top: 6.4rem;
  }
  .image-text {
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  /* Hero Section */
  .hero-section h1 {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  /* Hero Section */
  .hero-section h1 {
    font-size: 4rem;
    line-height: 5.3rem;
  }
  .bravarska-radnja {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.6rem;
  }
  .button-container {
    text-align: center;
  }
  .intro-content > div, .bravarske-usluge-content > div {
    text-align: center;
  }

  /* Hero Section */
  .hero-section h1 {
    font-size: 3.3rem;
    line-height: 4.4rem;
  }
  .bravarska-radnja {
    font-size: 2rem;
  }
  .hero-list {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 536px) {
  /* Hero Section */
  .hero-section {
    padding: 4rem 3.2rem;
    padding-bottom: 4.8rem;
  }
  .hero-section h1 {
    font-size: 2.7rem;
    line-height: 3.7rem;
  }
  .bravarska-radnja {
    font-size: 1.7rem;
  }
  .hero-list {
    font-size: 1.5rem;
  }
  .hero-image {
    flex: 0 1 20rem;
  }
  .hero-image img {
    max-width: 20rem;
  }
}
@media screen and (max-width:420px) {
  body {
    font-size: 1.5rem;
  }
  .hero-section h1 {
    align-self: flex-start;
  }
}