/* Hero Section */
.hero-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 6.4rem;
  background-color: var(--hero-bg);
}
.hero-section h1 {
  margin: 0;
  margin-right: 2.4rem;
  font-family: 'Oswald-Bold';
  font-size: 4.8rem;
  line-height: 6.4rem;
  color: var(--primary-brown);
  position: relative;
  top: -3.2rem;
  max-width: 100%;
}
.bravarska-radnja {
  font-family: 'Oswald-Bold';
  font-size: 2.7rem;
  color: var(--secondary-brown);
  margin-top: 0;
  margin-bottom: 4rem;
}
.circle {
  font-size: 1rem;
}
.hero-content {
  flex: 2 1 65rem;
  margin-right: 2rem;
}
.hero-image {
  flex: 0 1 24rem;
  background-color: var(--primary-brown);
  padding: 2.4rem 4rem;
  border-radius: 0.8rem;
  border: 0.4rem solid var(--primary-link);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.hero-image img {
  max-width: 24rem;
  height: auto;
}
.hero-list {
  font-family: 'Lora-Regular';
  font-size: 1.7rem;
  border-left: 0.4rem solid var(--primary-brown);
  padding: 0.8rem 1.6rem;
  color: var(--primary-brown);
  font-weight: bold;
}
.hero-list li {
  margin-bottom: 1.6rem;
}

/* Intro */
.intro {
  font-family: 'Lora-Medium';
  color: var(--secondary-black);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 6.4rem;
  background-color: var(--secondary-white);
}
.intro-content {
  margin-right: 1.6rem;
  flex: 1 1 40rem;
}
.intro-content h2 {
  font-family: 'Oswald-SemiBold';
  font-size: 2.8rem;
  margin-top: 0;
  margin-bottom: 3.2rem;
  text-align: left;
}
.intro-content p:last-of-type {
  margin-bottom: 0;
}
.intro-image {
 flex: 1 1 56rem;
 text-align: right;
 display: flex;
 flex-direction: column;
 align-items: end;
}
.intro-image img {
  max-width: 56rem;
  max-height: 36rem;
  width: 100%;
  object-fit: cover;
  filter:brightness(80%);
  transition: filter 1s;

  clip-path: polygon(4% 0, 100% 0%, 100% 100%, 4% 100%, 0% 50%);
}
.intro-image img:hover {
  filter:brightness(100%);
}
.image-text {
  padding-left: 0.8rem;
  max-width: 50rem;
  margin-top: 1.6rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.phone-call {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 3.2rem;
  padding: 0.8rem 1.6rem;
}

/*Tabs */
.tabs-header {
  font-family: 'Oswald-SemiBold';
  background-color: var(--secondary-black);
  background-color: var(--dark-blue);
  padding: 2.4rem 6.4rem;
}
.tabs-header ul {
  display: flex;
  justify-content: flex-start;
}
.tabs-header li {
  color: var(--secondary-white);
  cursor: pointer;
  transition: color 0.2s ease;
  text-align: center;
  word-spacing: 0.2rem;
}
.tabs-header li:not(.tabs-header li:last-of-type) {
  padding-right: 4.8rem;
}
.tab-link.active {
  color: var(--highlight);
}
.tab-link:hover {
  color: var(--highlight);
}
.tab-content {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 6.4rem;
  font-family: 'Lora-Medium';
  animation: fadeEffect 0.5s;
  color: var(--secondary-black);
}
@keyframes fadeEffect {
  from {opacity: 0}
  to {opacity: 1}
}

.tab-link.active {
  color: "#e1bc5c"
}
.tab-content h2 {
  margin: 0;
  font-family: 'Oswald-SemiBold';
  margin-bottom: 3.2rem;
  font-size: 2.8rem;
  text-align: left;
}
.tab-content-text {
  flex: 1 1 40rem;
  margin-right: 1.6rem;
}
.tab-content-image {
  flex: 1 1 56rem;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.tab-content-image img {
  max-width: 56rem;
  max-height: 38rem;
  width: 100%;
  object-fit: cover;
}
.tab-content p:last-of-type {
  margin-bottom: 0;
}
.standardni {
  max-width: 56rem;
  text-align: left;
  padding: 0 1.6rem;
}
.auto {
  text-decoration: underline;
}
.details {
  position: relative;
  margin-top: 2.4rem;
}
.details summary {
  color: var(--primary-black);
  color: var(--secondary-black);
  font-weight: 600;
  cursor: pointer;
}
.details p {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 1.6rem;
  font-size: 1.4rem;
  z-index: 1000;
  background-color: var(--primary-black);
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
}

/* Tagovi - Kartice*/
.tagovi-kartice {
  background-color: var(--secondary-white);
  color: var(--secondary-black);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6.4rem;
}
.tagovi-kartice-content {
 flex: 1 1 40rem;
}
.tagovi-kartice h3 {
  font-family: 'Oswald-SemiBold';
  font-size: 2.3rem;
  margin: 0;
  margin-bottom: 2.4rem;
}
.tagovi-kartice p {
  font-family: 'Lora-Medium';
}
.image-blok img {
  max-width: 20rem;
  margin-right: 3.2rem;
  border-radius: 0.8rem;
}

/* Break */
.break {
  font-family: 'Oswald-SemiBold';
  text-align: center;
  background-color: var(--secondary-black);
  background-color: var(--primary-blue);
  color: var(--primary-link);
  padding: 2.4rem;
}
.break {
  color: var(--primary-link);
  color: var(--secondary-white);
}

/* Bravarske usluge */
.bravarske-usluge {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Lora-Medium';
  padding: 6.4rem;
  color: var(--secondary-black);
}
.bravarske-usluge h3 {
  font-family: 'Oswald-SemiBold';
  font-size: 2.3rem;
  margin: 0;
  margin-bottom: 2.4rem;
}
.bravarske-usluge-content {
  flex: 1 1 30rem;
}
.bravarske-usluge-image {
  flex: 2 1 60rem;
  text-align: center;
}
.bravarske-usluge p:last-of-type {
  margin-bottom: 0;
}
.bravarske-usluge-image img {
  max-width: 30rem;
}

/* Testimonials */
.testemonials {
  font-family:'Montserrat-Regular';
  font-size: 1.5rem;
  margin: 0;
  padding: 8rem 6.4rem;
  background-color: var(--dark-blue);
  border-bottom: 0.4rem double #393E46;
}
.testemonials-container {
  display: flex;
  flex-direction: column;
  color: var(--secondary-white);
  width: 50%;
  margin: 0 auto;
  padding: 3.2rem 1.6rem;
  border-radius: 0.8rem;
  background-color:  #393E46;
  line-height: 1.7;
}
.progres-bar {
  height: 0.4rem;
  background-color: var(--highlight);
  animation: grow 10s linear infinite;
  transform-origin: left;
  margin: 0.8rem 5.6rem;
  margin-bottom: -2.4rem;
}
.testemonials-container blockquote {
  position: relative;
  text-align: justify;
  padding: 3.2rem 1.6rem;
  padding-bottom: 2.4rem;
}
.testemonial-text {
  min-height: 10.4rem;
}
.quote {
  position: absolute;
  font-size: 3.2rem;
  top: 0;
  color:var(--highlight);
}
.quote-left {
  left: -2.4rem;
}
.quote-right {
  right: -2.4rem;
}
.testemonial-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testemonial-image img {
  width: 7.5rem;
  height: 7.5rem;
  clip-path: circle(50% at 50% 50%);
  border: 0.3rem solid #FFD369;
  border-radius: 50%;
  margin-right: 1.6rem;
  object-fit: cover;
}
.name {
  font-family:'Montserrat-Bold'
}
@keyframes grow {
  0% {
   transform: scaleX(0);
  }
}

