/* Responsive */
@media screen and (max-width: 1126px) {
  /* Hero Section */
  .hero-content {
    margin-right: 0;
  }
  .hero-section h1 {
    max-width: 70%;
    margin-right: 0;
  }
  .hero-image {
    margin-top: 4rem;
  }
  .image-text {
    text-align: center;
  }
}
@media screen and (max-width: 1104px) {
  /* Intro */
  .intro {
   flex-direction: column;
   align-items: flex-start;
  }
  .intro-content {
    margin-right: 0;
  }
  .intro-image {
     flex-basis: 100%;
     margin-top: 3.2rem;
  }

  /* Tabs */
  .tab-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .tab-content-text {
    margin-right: 0;
  }
  .tab-content-image {
    flex-basis: 100%;
    margin-top: 3.2rem;
  }
  .details {
    max-width: 56rem;
  }
}

@media screen and (max-width: 992px) {
  /* Hero Section */
  .hero-section h1 {
    max-width: 100%;
  }

  /* Tagovi - Kartice */
  .tagovi-kartice {
    flex-direction: column;
    align-items: center;
  }
  .tagovi-kartice h3 {
    text-align: center;
    margin-top: 2.4rem;
  }
  .tagovi-kartice-content {
    flex-basis: 100%;
  }
  .tagovi-kartice-content p:last-of-type {
    margin-bottom: 0;
  }
  .image-blok img {
    margin-right: 0;
  }

  /* Bravarske usluge */
  .bravarske-usluge-image {
    margin-top: 3.2rem;
  }
  .bravarske-usluge h3 {
    text-align: center;
  }

  /* Testemonials */
  .testemonials-container {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  /* Hero Section */
  .hero-section h1 {
    font-size: 4rem;
    line-height: 5.3rem;
  }
  .bravarska-radnja {
    font-size: 2.4rem;
  }

  /* Tabs */
  .tabs-header ul {
  justify-content: center;
  }

    /* Testemonials */
  .testemonials-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.6rem;
  }
  .button-container {
    text-align: center;
  }

  /* Hero Section */
  .hero-section h1 {
    font-size: 3.3rem;
    line-height: 4.4rem;
  }
  .bravarska-radnja {
    font-size: 2rem;
  }
  .hero-list {
    font-size: 1.5rem;
  }

  /* Intro */
  .intro {
    align-items: center;
  }
  .intro-content h2 {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 2.4rem;
  }
  .intro {
    padding: 4rem 2.4rem;
  }
  .intro-content {
    margin-right:0;
  }
  .image-text {
    width: 100%;
    text-align:center;
  }
  .intro-content > div, .bravarske-usluge-content > div {
    text-align: center;
  }

  /* Tabs */
  .tabs-header {
    padding: 2.4rem;
    font-size: 1.5rem;
}
  .tab-content {
    padding: 4rem 2.4rem;
  }
  .tab-content h2 {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 2.4rem;
  }

  /* Tagovi - Kartice*/
  .tagovi-kartice {
    padding: 4rem 2.4rem;
  }
  .tagovi-kartice h3 {
    font-size: 2rem;
  }
    /* Bravarske usluge */
  .bravarske-usluge {
   padding: 4rem 2.4rem;
  }
  .bravarske-usluge h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 536px) {
  /* Hero Section */
  .hero-section {
    padding: 4rem 3.2rem;
    padding-bottom: 4.8rem;
  }
  .hero-section h1 {
    font-size: 2.7rem;
    line-height: 3.7rem;
  }
  .bravarska-radnja {
    font-size: 1.7rem;
  }
  .hero-list {
    font-size: 1.5rem;
  }
  .hero-image {
    flex: 0 1 20rem;
  }
  .hero-image img {
    max-width: 20rem;
  }
}
@media screen and (max-width:420px) {
  body {
    font-size: 1.5rem;
  }
  .hero-section {
    justify-content: center;
  }
  .hero-section h1 {
     align-self: flex-start;
  }

  /* Intro */
  .intro-content h2 {
    font-size: 2rem;
  }
  /* Tabs */
  .tab-content h2 {
    font-size: 2rem;
  }
  .details p {
    margin-top: 3.2rem;
  }
}