/* Responsive */

@media screen and (max-width: 1104px) {
  /* Intro */
  .intro {
   flex-direction: column;
   align-items: center;
  }
  .intro-content {
    margin-right: 0;
  }
  .intro-image {
     flex-basis: 100%;
     margin-top: 6.4rem;
  }

  /* Tabs */
  .tab-content {
    flex-direction: column;
    align-items: center;
  }
  .tab-content-text {
    margin-right: 0;
  }
  .tab-content-image {
    flex-basis: 100%;
    margin-top: 3.2rem;
  }
  .details {
    max-width: 56rem;
  }

  /* Bravarske usluge */
  .bravarske-usluge-image {
    margin-top: 6.4rem;
}
}

@media screen and (max-width: 992px) {

  /* Tagovi - Kartice */
  .tagovi-kartice {
    flex-direction: column;
    align-items: center;
  }
  .tagovi-kartice h3 {
    text-align: center;
    margin-top: 2.4rem;
  }
  .tagovi-kartice-content {
    flex-basis: 100%;
  }
  .tagovi-kartice-content p:last-of-type {
    margin-bottom: 0;
  }
  .image-blok img {
    margin-right: 0;
  }

  /* Bravarske usluge */
  .bravarske-usluge h3 {
    text-align: center;
  }

  /* Testemonials */
  .testemonials-container {
    width: 70%;
  }
}
@media screen and (max-width: 845px) {
  .tab-content-image {
    margin-top: 6.4rem;
  }
}

@media screen and (max-width: 767px) {

  /* Tabs */
  .tabs-header ul {
  justify-content: center;
  }

    /* Testemonials */
  .testemonials-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {

  /* Intro */
  .intro-content h2 {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 2.4rem;
  }
  .intro {
    padding: 4rem 2.4rem;
  }
  .intro-content {
    margin-right:0;
  }
  .image-text {
    width: 100%;
    text-align:center;
  }

  /* Tabs */
  .tabs-header {
    padding: 2.4rem;
    font-size: 1.5rem;
}
  .tab-content {
    padding: 4rem 2.4rem;
  }
  .tab-content h2 {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 2.4rem;
  }
  .tab-content-image img {
    height: auto;
}

  /* Tagovi - Kartice*/
  .tagovi-kartice {
    padding: 4rem 2.4rem;
  }
  .tagovi-kartice h3 {
    font-size: 2rem;
  }
    /* Bravarske usluge */
  .bravarske-usluge {
   padding: 4rem 2.4rem;
  }
  .bravarske-usluge h3 {
    font-size: 2rem;
  }

  /* Testemonials */
  .testemonials {
    padding: 6.4rem 4rem;
    border-bottom: 0;
    font-size: 1.4rem;
  }
  .testemonials-container {
    padding: 3.2rem 1.6rem;
  }
  .progress-bar {
    margin: 0.8rem 3.2rem;
    margin-bottom: -2.4rem;
  }
  .testemonials-container blockquote {
    text-align: center;
    margin: 1.6rem;
  }
  .quote {
    font-size: 2.8rem;
  }
  .quote-left {
    left: -1.6rem;
  }
  .quote-right {
    right: -1.6rem;
  }
}

@media screen and (max-width:420px) {
  /* Tabs */
  .details p {
    margin-top: 3.2rem;
  }
}